body {
    margin: 0;
    overflow: hidden;
}

svg {
    height: 100vh;
    width: 100vw;
}

#blueprint {
    background: black;
    overflow: hidden;
}

#panel {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 100%) scale(2);
}

#cover {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.5;
}

#cover img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

text {
    fill: rgb(180, 189, 255);
    stroke-width: 0;
    transform-box: fill-box;
    transform-origin: center;
    z-index: -1;
    text-anchor: middle;
    pointer-events: none;
}

circle {
    stroke: rgba(255, 255, 255, 0.61);
    stroke-width: 1px;
}

polygon {
    stroke: rgba(255, 255, 255, 0.6);
    stroke-width: 1px;
}

.horizontalText {
    transform: rotate(0deg);
}

.horizontalTextRotateX {
    transform: rotate(0deg) rotateX(180deg);
}

.horizontalTextRotateY {
    transform: rotate(0deg) rotateY(180deg);
}

.horizontalTextRotateXY {
    transform: rotate(0deg) rotateX(180deg) rotateY(180deg);
}

.verticalText {
    transform: rotate(-90deg);
}

.verticalTextRotateX {
    transform: rotate(-90deg) rotateX(180deg);
}

.verticalTextRotateY {
    transform: rotate(-90deg) rotateY(180deg);
}

.verticalTextRotateXY {
    transform: rotate(-90deg) rotateX(180deg) rotateY(180deg);
}

label {
    color: white;
}